
<div>
    <hr class="py-4 mt-6 border-t border-grey-400">
</div>

<div id="work" style="margin-top: 10px;">
    <span class="ml-2 border-4 p-2 border-blue-700 text-xl font-semibold hover:bg-blue-100" > Experience</span>
    <div class="mt-6 md:flex space-x-5">
        <img class="mx-auto my-auto w-32 md:px-4" src="images/onsquare.jpeg">
        <div class="font-sans mt-5 md:mt-0">
            <p class="text-lg font-bold">Web development Intern</p>
            <a href="https://www.facebook.com/interfaces.brainvistec" class="text-lg text-blue-700 font-medium hover:underline" target="_blank" rel="noopener noreferrer">Onsquare</a>
            <div class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                <div class="mr-3">
                    <i class="far fa-calendar mr-2"></i>June 2022 - January 2022
                </div>
                <div class="mr-3">
                    <i class="far fa-map mr-2"></i>On-site
                </div>
            </div>
            <p class="text-base"> Developed a feature for editing images and Scalable Vector Graphic (SVG) objects.
            </p>
        </div>
    </div>
    <div class="mt-6 md:flex space-x-5">
        <img class="mx-auto my-auto w-32 md:px-4" src="images/dl.png">
        <div class="font-sans mt-5 md:mt-0">
            <p class="text-lg font-bold">Individual study</p>
            <a href="https://www.facebook.com/interfaces.brainvistec" class="text-lg text-blue-700 font-medium hover:underline" target="_blank" rel="noopener noreferrer">Data Intelligence Lab</a>
            <div class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                <div class="mr-3">
                    <i class="far fa-calendar mr-2"></i>Dec 2021 - January 2022
                </div>
                <div class="mr-3">
                    <i class="far fa-map mr-2"></i> Remote
                </div>
            </div>
            <p class="text-base"> Researched on fairness and robustness in unstructured data.  Preprocessing and cleaning data to minimize discrimination and bias in machine learning models.
            </p>
        </div>
    </div>
    
</div>

<div>
    <hr class="py-4 mt-6 border-t border-grey-400">
</div>

<div id="education" style="margin-top: 10px;">
    <span class="ml-2 border-4 p-2 border-blue-700 text-xl font-semibold hover:bg-blue-100">Education</span>
    <div class="mt-6 md:flex space-x-5">
        <img class="mx-auto my-auto w-32 md:px-4 md:mx-0" src="images/kaist.png">
        <div class="font-sans mt-5 md:mt-0">
            <p class="text-lg font-bold">B.Sc. in Computer Science</p>
            <p class="text-lg font-medium text-blue-700">Korea Advanced Institute of Science and Technology (KAIST)</p>
            <div class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                <div class="mr-3">
                    <i class="far fa-calendar mr-2"></i>August 2020 - June 2024
                </div>
                <div class="mr-3">
                    <i class="far fa-map mr-2"></i>Daejeon, South Korea
                </div>
            </div>
            <ul class="ml-5 list-disc">
                <li>GPA: 3.62/4.3</li>
            </ul>
        </div>
    </div>

    <div class="mt-6 md:flex space-x-5">
        <img class="mx-auto my-auto w-32 md:px-4 md:mx-0" src="images/pbc.jpeg">
        <div class="font-sans mt-5 md:mt-0">
            <p class="text-lg font-bold">High School Diploma</p>
            <p class="text-lg font-medium text-blue-700">Phan Boi Chau high school for the gifted</p>
            <div class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                <div class="mr-3">
                    <i class="far fa-calendar mr-2"></i>May 2016 - December 2019
                </div>
                <div class="mr-3">
                    <i class="far fa-map mr-2"></i>Nghe An, Vietnam
                </div>
            </div>
            <ul class="ml-5 list-disc">
                <li>Cumulative GPA across all semesters (9.2/10)</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <hr class="py-4 mt-6 border-t border-grey-400">
</div>

<div id="awards">
    <span class="ml-2 border-4 p-2 border-blue-700 text-xl font-semibold hover:bg-blue-100">
        Awards</span>
    <ol class="mt-6 ml-5 list-disc">
        <li>(2019) Third Prize Vietnam Mathematical Olympiad</li>
        <li>(2018) Third Prize Vietnam Mathematical Olympiad</li>
    </ol>
</div>